{% extends 'shop/basic.html' %}

{% block css %}
        a {
          color: black;
          text-decoration: none;
          background-color: transparent;
          }
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          width: 170px;
          height: 200px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-top: 222px;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
 {% endblock %}

{% block body %}
{% load static %}
<div class="container">

    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h5 class="my-4">Flash Sale On {{product.0.product_category}} - Recommended Items</h5>
    <div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">


        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3" >
          <a href="/shop/products/{{i.id}}">
          <div class="card"  style="width: 18rem;" >
            <img src='media/{{i.product_images}}'  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.product_name}}</h5>
              <p class="card-text">{{i.product_desc}}</p>
              <form method="post" action="{% url 'add_to_cart' i.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary cart">Add To Cart</button>
            </form>
            </div>
          </div>
        </a>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
        </div>
    {% endfor %}
</div>
 {% endblock %}

