{% extends 'shop/basic.html' %}
{% block title %}{{ product.product_name }} - My Awesome Cart{% endblock %}
{%block css%}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button-container {
    display: flex;
    gap: 10px;  /* Adjust the gap according to your preference */
}

.common-button {
    width: 150px;  /* Set the width to your desired value */
}

.form-button {
    width: 100%;  /* Set the width to 100% to take up the entire space in the form */
}
{% endblock %}
{% block body %}
<ul>
<h2>MY AWESOME CART PRESENTS -{{ product.product_name }}</h2>
</ul>
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            
            <img src="/shop/media/{{product.product_images}}" height="330px" width="330px" alt="{{ product.product_name }}">
           <h4>ONLY FOR RS. {{product.product_price}}/-</h4>
           <div class="button-container">
            <a href="/shop/billproduct/{{product.id}}">
                <button type="button" class="btn btn-primary btn-lg common-button">BUY NOW</button>
            </a>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg cart common-button form-button">Add To Cart</button>
            </form>
        </div>
        </div>
    </div>
</div>
<h4>{{ product.product_name }}</h4>
<h5>Description -- {{product.product_desc}}</h5><hr>
<h4>PROPERTIES :</h4>
<ul>
    <li>PRODUCT NAME : {{ product.product_name }}</li>
    <li>PRODUCT CATEGORY : {{product.product_category}}</li>
    <li>PRODUCT SUBCATEGORY : {{product.product_subcategory}}</li>
    <li>PRODUCT PUBLICATION DATE  : {{product.product_pub_date}}</li>
    <li>PRODUCT PRICE  : {{product.product_price}}/-</li>
    <li>PRODUCT Description : {{product.product_desc}}</li>
</ul>


{% endblock %}
